<div class="row">
  <nav class="top-bar column" data-topbar>
 
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
              <i class="fi-play-video"></i> MovieStore
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>
 
      <section class="top-bar-section">
        <ul class="right">
      <%if signed_in?%>
      <li><%=link_to current_user.email, edit_user_registration_path%></li>
      <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
      <li>
  <%= link_to cart_path do%>
    <i class="fi-shopping-cart"></i>
    My Cart
    (<span class="cart-count"><%=current_user.cart_count%></span>)
  <%end%>
</li>
    <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
    <%end% %>
      </section>
 
    </nav>
</div>